body {
}
#banner {
	width: 100%;
}
.principal{
	background: #CCCCCC;
	padding: 30px;	
}
.titulo-principal{
	padding-left: 20px;
}
.titulo-centralizado {
	 text-align: center;
}
p {
	text-align: center;
}
#missao{
	font-size: 20px;
} 
em strong {
	/*Representações de vermelho */
	
	/*	Padrão RGB, 0 = mínimo de cor, 255 = máximo de cor. NAO ESTA FUNCIONANDO
	 *  rgb(255, 0, 0); 
	 */
	
	/* hexadecima, 00=mínimo de cor FF=máximo de cor. Pares de dígitos RGB
	 * color: #FF0000;  
	 */
	 color: #FF0000;
	
    /* texto	
	 * color: red;  
	 */
	 
}

.itens {
	font-style: italic;
}
.beneficios{
	background: #FFFFFF;
	padding: 20px;
}


/* elemento com alinhamento block ocupa a linha inteira sempre */
/* elemeto inline n�o ocupa a linha inteira mas n�o permite mexer nos espacamentos*/
ul{
	display: inline-block; /* n�o ocupa a linha interira e permite mexer nos espa�amentos*/
	vertical-align: top;
	width: 20%;
	margin-right: 15%
}
.imagembeneficios{
	width: 50%;
}