body {
	background: #CCCCCC	
}
p {
	text-align: center;
}
em strong {
	/*Representações de vermelho */
	/* color: red; */ /*texto*/
	color: #FF0000; /* hexadecima, 00=mínimo de cor FF=máximo de cor. Pares de dígitos RGB*/ 
	/* rgb(255,0,0); */ /*Padrão RGB, 0 = mínimo de cor, 255 = máximo de cor*/
}